@import "../../assets/styles/variables";
@import "../../assets//styles/mixins";

.section-costs {
    @include section;
    margin: 5rem 0;
    .container {
        @include container;
        padding: 0 2rem;
        @include small-tablet() {
            flex-direction: column-reverse;
        }

        &__text {
            margin-right: 1.5rem;
            @include small-tablet() {
                margin-top: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 0;
            }
            h3 {
                @include titleH3;
                text-align: left;
            }
            p {
                @include paragraph($text, 1rem, normal);
                line-height: 28px;
                max-width: 444px;
                text-align: left;
                @include small-tablet() {
                    text-align: center;
                    max-width: 330px;
                }
                &:last-child {
                    margin-top: 1rem;
                }
            }
        }

        .cost-image {
            @include desktop-small() {
                max-width: 384px;
            }
            @include small-tablet() {
                max-width: 584px;
            }
            @include small-tablet() {
                width: 100%;
            }
        }
    }
}
