$primary: #9451d0;
$secondary: #00A870;
$tertiary: #DFDFDF;
$quaternary: #5E20A4;
$text: #3d3d3d;

$desktop: 1600px;
$desktop-small: 1133px;
$desktop-large: 2560px;
$small-tablet: 768px;
$mobile:576px;
$small-mobile:320px;